// vendor prefixes for flexbox

%li-flexbox {
  display: -webkit-box;     // OLD - iOS 6-, Safari 3.1-6, BB7
  display: -ms-flexbox;     // TWEENER - IE 10
  display: -webkit-flex;    // NEW - Safari 6.1+. iOS 7.1+, BB10
  display:         flex;    // NEW, Spec - Firefox, Chrome, Opera
  -webkit-box-flex: 1 auto; // OLD - iOS 6-, Safari 3.1-6
      -webkit-flex: 1 auto; // Safari 6.1+. iOS 7.1+, BB10
          -ms-flex: 1 auto; // IE 10
              flex: 1 auto; // NEW, Spec - Firefox, Chrome, Opera
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  justify-content: space-between;
}
