// Skins
//
// skin.scss contains all the files that comprise the CSS for your skin. To get
// started with skins, create or change variables in `_variables.scss` to
// configure the underlying CSS. Add additional CSS/Sass to `_style.scss` which
// is appended to the base CSS to complete the skin.
//

@import 'variables';
@import 'responsive_peak/sass/codebook/variables-peak';
@import 'responsive_peak/sass/vendor';

@import 'responsive_peak/sass/all';

@include responsive-all;
@import 'style';
